<p-table
  *ngIf="activeMarkets$ | async as markets"
  [value]="markets"
  [loading]="(loading$ | async)!"
>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'id'">
        Id
        <p-columnFilter
          type="numeric"
          field="id"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'question'">
        Question
        <p-columnFilter
          type="text"
          field="question"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'startDate'">
        Start Date
        <p-columnFilter
          type="date"
          field="startDate"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'endDate'">
        End Date
        <p-columnFilter
          type="date"
          field="endDate"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'outcomePriceYes'">
        Yes Outcome Price
        <p-columnFilter
          type="numeric"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          field="outcomePriceYes"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'outcomePriceNo'">
        No Outcome Price
        <p-columnFilter
          type="numeric"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          field="outcomePriceNo"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'volume_num'">
        Volume
        <p-columnFilter
          type="numeric"
          field="volume_num"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'liquidity_num'">
        Liquidity
        <p-columnFilter
          type="numeric"
          field="liquidity_num"
          display="menu"
          class="p-ml-auto"
        ></p-columnFilter>
      </th>
      <th>Link</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-market>
    <tr>
      <td>{{ market.id }}</td>
      <td>{{ market.question }}</td>
      <td>{{ market.startDate | date: "longDate" }}</td>
      <td>{{ market.endDate | date: "longDate" }}</td>
      <td>{{ market.outcomePriceYes | number: "1.2-2" }}</td>
      <td>{{ market.outcomePriceNo | number: "1.2-2" }}</td>
      <td>{{ market.volume_num }}</td>
      <td>{{ market.liquidity_num }}</td>
      <td>
        <a [href]="'https://polymarket.com/market/' + market.slug">Link</a>
      </td>
    </tr>
  </ng-template>
</p-table>
